<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Calamus</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>

  <% if notice %>
  <p class="notice"><%= notice %></p>
  <% end %>

  <% if alert %>
  <p class="alert"><%= alert %></p>
  <% end %>

<%= yield %>

</body>
</html>
