<!DOCTYPE html>
<html>
<head>
  <title>Calamus</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id="user_nav">
      <% if security_profile_signed_in? %>
        Logged in as <strong><%= current_security_profile.email %></strong>.
        <%# <%= link_to 'Edit profile', edit_user_registration_path %1> | %>
        <%= link_to "Logout", destroy_security_profile_session_path, method: :delete %>
      <% else %>
        <%# <%= link_to "Sign up", new_user_registration_path %1> | %>
        <%= link_to "Login", new_security_profile_session_path %>
      <% end %>
    </div>

    <% if notice %>
    <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
    <p class="alert"><%= alert %></p>
    <% end %>

<%= yield %>

  </div>
</body>
</html>
